/* Import TailwindCSS */
@import "tailwindcss";

/* 
    Font PSA: They're called in index.html

    Use...

    Bitter Regular - H1s
    Raleway - sub headings (h2 onward)
    Kanit Light - paragraphs
    Kanit Extra Light - small paragraphs
    Raleway Medium - small sub headings
*/

/* Important settings */
body {
    background-color: var(--background-color);
    color: var(--text);
}

p {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
}

h1 {
    font-family: "Bitter", serif;
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}

.dyk-paragraphs {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
}

.dyk-headings {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.mobile-nav {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    color: var(--background-color);
}

/* Other variables */
/* animations */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-left {
  0% {
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@theme {  
    --animate-slide-in-left: slide-in-left 0.8s ease-in-out forwards;  
    --animate-slide-out-left: slide-out-left 0.5s ease-in forwards;  
    --background-color: #F4F1ED;
    --text: #1C1C1C;
    --border-link-button: #3B82F6;
    --header-footer-nav: #14532D;
    --header-footer-nav-text: #D1A052;
}